@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Source+Sans+3:wght@300;500&display=swap');    
    
/* 
font-family: 'Playfair Display', serif;
font-family: 'Source Sans 3', sans-serif;
*/
    body {
      background-color: rgb(236, 190, 190);
      font-family: 'Source Sans 3', sans-serif;
      font-weight:300;
      color: #333333;
    }
    .wrapper {
      background:white;
      width:80%;
      margin:auto;
      padding:60px;
    }
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Playfair Display', serif;
      font-weight:600;
    }
    h1 {
      font-family: 'Playfair Display', serif;
    }
    p {
      line-height:60px;
    }
    a {
      color: red;
      font-weight:500;
    }
    div {
    }
    ul {
      margin:0;
      list-style:none;
    }
    .flexfun {
      display:flex;
    }
    .flexfun .column {
    }
    .flexfun p {
      margin:0;
    }
    .column1 {
      flex:25%;
    }
    .column2 {
      flex:75%;
    }
