@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Source+Sans+3:wght@300;500&display=swap');

/* 
font-family: 'Kenia', cursive;
font-family: 'Source Sans 3', sans-serif;
*/
body {
  background-color:peachpuff;
  font-family: 'Source Sans 3', sans-serif;
  font-weight:300;
}
h1 {
  color: red;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Kenia', cursive;
}

.wrapper { 
  background-color:azure;
  width:80%;
  margin:auto;
  padding: 60px;
  border:12px solid black;
}
a {
  font-weight:500;
  color:rgb(127, 232, 139)
}
img {
  width:100%;
}
.nav {
  border:1px solid purple;
  display:flex;
}

.left {
  flex:33.3%;
  background-color:lightsalmon;
}
.right {
  flex:66.6%;
  background-color:rgb(127, 232, 139);
}
