* {box-sizing: border-box;}

img {
  width:100%;
}

body {
  margin:0;
  background-color:antiquewhite;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.number {
  font-size: 60px;
  font-weight:bold;
  position:absolute;
}
.hand {position:absolute;}

.minute {
  top: 48%;
  left:48%;
  animation-name:rotate;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: top;
}
.hour {
  top: 48%;
  left:48%;
  animation-name:rotate;
  animation-duration: 72s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: left;
}
@keyframes rotate {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}

main {
  width:50%;
  /* this makes the contents hve an 80px margin on top and bottom, and an auto margin on left and right which centers the content. */
  margin: 20px auto;
  position:relative;
}
.clock {
  width:100%;
}

.minute img {
  width:20px;
  height:300px;
}
.hour img {
  width:200px;
  height:20px;
}
.one {
  top: 10%;
  right: 23%;
}
.two {
  top: 25%;
  right: 11%;
}
.three {
  right: 4%;
  top: 45%;
}
.four {
  bottom: 25%;
  right: 11%;
}
.five {
  bottom: 10%;
  right: 23%;
}
.six {
  bottom: 4%;
  left: 47%;
}
.seven {
  bottom: 10%;
  left: 22%;
}
.eight {
  bottom: 25%;
  left: 11%;
}
.nine {
  left: 4%;
  top: 45%;
}
.ten {
  top: 25%;
  left: 11%;
}
.eleven {
  top: 10%;
  left: 22%;
}
.twelve {
  top: 4%;
  left: 47%;
}
.hour {}
.minute {}