@import url("https://use.typekit.net/qyw3iag.css");
/* 
font-family: 'Inconsolata', monospace;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'Space Mono', monospace;
 */
/* 
font-family: "input-mono", monospace;
font-family: salbabida-sans-pro, sans-serif;
*/

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "input-mono", monospace;
    font-size: 20px;
}

/* Style the hero section with a background image */
.hero {
    background: url('images/spiral.gif') center/cover no-repeat;
    text-align: center;
    color: #fff;
    padding: 100px 0;
}


h1,
h2,
h3 {
    margin-top: 0;
    font-family: 'Pixelify Sans', sans-serif;
}

/* Style the header text in the hero section */
.hero h1 {
    font-size: 60px;
    -webkit-text-stroke: 1px #999;
}

img {
    width: 100%;
}

/* Create a grid for the content section */
.content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

/* Style each column in the content section */
.column {
    text-align: center;
    flex: 1;
    padding: 20px;
}

a {
    color: rgb(3, 170, 189);
}

a:hover {
    color: rgb(250, 130, 2);
}

.thumb {
    border: 4px solid #666;
    border-radius: 20px;
}

.button {
    display: inline-block;
    background-color: #C0441Dff;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    margin-top: 16px;
    border-radius: 12px;
}

.button:hover {
    background-color: #130906ff;
}

/* Style the footer section */
footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 20px;
}

/* Style the social media icons */
.social-icons {
    list-style: none;
}

.social-icons li {
    display: inline;
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

@media only screen and (max-width: 768px) {
    .content {
        flex-direction: column;
    }

}