* {box-sizing: border-box;}
img {
  width:100%;
}
body {
  margin:0;
}

.cat {
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap:2rem;
  grid-row-gap:4rem;
}
.feature {
  
}
.kitten {
  border:1px solid black;
}