@import url("https://use.typekit.net/hmd4zdl.css");

/*
font-family: 'winco';
font-family: 'lato';
font-family: 'Archivo', sans-serif;
font-family: 'Pacifico', cursive;
*/

/* Reset some default styles for better consistency */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'winco';
}

body {
  font-family: 'lato';
  font-size:20px;
}
p {
  line-height:32px;
}

.hero {
    background: url('images/moon.png') no-repeat center center fixed;
    background-color:transparent;

    text-align: center;
    color: #fff;
    padding: 100px 0;
}

.header {
    font-size: 36px;
}

/* nav START */
nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* nav END */


.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    background-color:transparent;
}

.left-column img {
    max-width: 100%;
    height: auto;
}
.left-column { flex:50%;}

.right-column {
    text-align: left;
    flex:50%;
    padding:0 60px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0078d4;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 5px;
}

.poop {

}
footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 20px 0;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}
