@import url("https://use.typekit.net/qyw3iag.css");

/* 
font-family: "input-mono", monospace;
font-family: salbabida-sans-pro, sans-serif;
*/

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "input-mono", monospace;
  font-size: 20px;
}
/* Style the hero section with a background image */
.hero {
    background: url('images/home_background3.gif') center/cover no-repeat;
    text-align: center;
    color: #fff;
    padding: 100px 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: salbabida-sans-pro, sans-serif;
}

/* Style the header text in the hero section */
.hero h1 {
    font-size: 36px;
}
img {
  width:100%;
}
/* Create a grid for the content section */
.content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

/* Style each column in the content section */
.column {
    text-align: center;
    width: 30%;
    padding: 20px;
}

/* Style the footer section */
footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 20px;
}

/* Style the social media icons */
.social-icons {
    list-style: none;
}

.social-icons li {
    display: inline;
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}
