* {box-sizing:border-box;}
body {
  margin:0;
  position:relative;
}
.player {
  position:absolute;
  top:-100vh;
  left:0;
  right:0;
  width:100%;
  height:100vh;
  overflow:hidden;
  opacity:1;
  z-index:99;
  transition: 1s;
}
.slide {
  top:0 !important;
}
.shop {
  position:absolute;
  top:-100vh;
  left:0;
  right:0;
  width:100%;
  height:100vh;
  overflow:hidden;
  opacity:1;
  z-index:99;
  transition: 1s;
}
.own {
  position:absolute;
  top:-100vh;
  left:0;
  right:0;
  width:100%;
  height:100vh;
  overflow:hidden;
  opacity:1;
  z-index:99;
  transition: 1s;
}
h1 {
  margin:0;
  padding-top:100px;
}
img {
  width: 100%;
}
.three-cols {
  display: flex;
}
.three-cols img {
  padding:80px;
}
.content {
  transition: 1s;
  height:100vh;
  width:100vw;
  overflow:hidden;
  z-index:-1;
}
